{% extends "base.html" %}

{% block page %}
<h1>Identifier search</h1>
<p>
  Type the full name of an identifier to look for 
  (a function name, variable name, typedef, etc).
  <br>
  Matches are case-sensitive.
  Check "Definitions only" to find only definitions of the symbol
  (unchecked, all references).
  <br>
  As a convenience,
  extra <span class="identline identapprox">999</span> line numbers denote
  <strong>case-insensitive</strong> occurrences
  (either belonging to a case-insensitive language or differing in case).
</p>

<form method="get" action="$varbtnaction">
  <p>
    $variables
    <label>
      <b>Identifier: </b>
      <input id="focus" type="text" name="_i" value="$identifier_escaped" size="15">
    </label>
    <label>
      <input type="checkbox" name="_identdefonly" value="1" $checked>
      &nbsp;&nbsp;Definitions only
    </label>
    <input type="hidden" name="_remember" value="1">&nbsp;&nbsp;<input type="submit" value="Find">
  </p>
</form>  
   
<h2>Results for <span class="identident">$identifier</span></h2>
<h3>Definitions</h3>
<table class="identdef"> 
  <tr>
    <th class="identtype">Type</th>
    <th class="identrel">Member of</th>
    <th class="identfile">File</th>
    <th class="identline">Line</th>
  </tr>
  {% for df in defs %}
  <tr>
    <td class="identtype">df['type']</td>
    <td class="identrel">df['rel']</td>
    <td class="identfile $refinvalid">df['file']</td>
    <td class="identline $refinvalid">df['line']</td>
  </tr>
  {% end %}
</table>
<p>
  $occurs declarations in {{len(defs)}} files.
</p>

<h3>References:</h3>
<table class="identref">
  <tr>
    <th class="identfile">File</th>
    <th class="identline">Line</th>
  </tr>
  {% for ref in refs %}
  <tr>
    <td class="identfile $refinvalid">ref['file']</td>
    <td class="identline $refinvalid">ref['lines']</td>
  </tr>
  {% end %}
</table>
<p>
  $occurs references in {{len(refs)}} files.
</p>

{% end %}
